<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Cinema events</title>
</head>
<body>

    <a href="#" th:href="'/logout'" th:text="'Logout'"></a><br/>
    <a href="#" th:href="'/users'" th:text="'Users'"></a>
    <a href="#" th:href="'/uploads'" th:text="'Uploads'"></a>

    <div sec:authorize="hasRole('ROLE_BOOKING_MANAGER')">
        <a href="#" th:href="@{/events/create-form}" th:text="'Create event'"></a>
    </div>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Base price</th>
            <th>Rating</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.ticketPrice}"></td>
            <td th:text="${event.rating}"></td>
            <td th:text="${event.dateTime}"></td>
            <td>
                <a href="#" th:href="@{/events/free-tickets(eventId=${event.id})}" th:text="'Free tickets'"></a>
                <div sec:authorize="hasRole('ROLE_BOOKING_MANAGER')">
                    <a href="#" th:href="@{/events/booked-tickets(eventId=${event.id})}" th:text="'Booked tickets'"></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>